[
  {rabbit, [
     {ssl_listeners, [5671]},
     {ssl, [{versions, ['tlsv1.2', 'tlsv1.1']}]},
     {ssl_options, [{cacertfile, "/home/ubuntu/keys-server/cacert.pem"},
                    {certfile, "/home/ubuntu/keys-server/cert.pem"},
                    {keyfile, "/home/ubuntu/keys-server/key.pem"},
                    {versions, ['tlsv1.2', 'tlsv1.1']},
                    {verify, verify_peer},
                    {fail_if_no_peer_cert, true}]}
   ]},
   {rabbitmq_management,
   [{listener, [{port,     15671},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "/home/ubuntu/keys-server/cacert.pem"},
                           {certfile,   "/home/ubuntu/keys-server/cert.pem"},
                           {keyfile,    "/home/ubuntu/keys-server/key.pem"}]}
               ]}
   ]}
].
